USE [master]
GO
/****** Object:  Database [CursoFullStack]    Script Date: 9/5/2025 13:07:38 ******/
CREATE DATABASE [CursoFullStack]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CursoFullStack', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIPLOFS\MSSQL\DATA\CursoFullStack.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CursoFullStack_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DIPLOFS\MSSQL\DATA\CursoFullStack_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CursoFullStack].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CursoFullStack]
GO
/****** Object:  Table [dbo].[novedades]    Script Date: 9/5/2025 13:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[novedades](
	[titulo] [varchar](255) NOT NULL,
	[subtitulo] [varchar](255) NOT NULL,
	[cuerpo] [text] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
	[img_id] [varchar](250) NULL,
 CONSTRAINT [pk_novedades] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USUARIOSTRANSX]    Script Date: 9/5/2025 13:07:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOSTRANSX](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
